@{
    ViewData["Title"] = "Home";
}

<div class="text-center divHome">
    <h1 class="display-4">Special Olympics Aragón</h1>
    <p>Base de datos de voluntarios de Special Olympics Aragón</p>
</div>
